<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Камера</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content camera-container">
    <div class="camera-preview">
      <p>Область предварительного просмотра камеры</p>
    </div>

    <div class="camera-controls">
      <ion-button expand="block" (click)="openCamera()" class="camera-button">
        <ion-icon name="camera" slot="start"></ion-icon>
        Сканировать чек
      </ion-button>
    </div>
  </div>
</ion-content>
